
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can read and write their own user document.
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Explicitly match all the collections for clarity
    match /job-applications/{jobId} {
      allow create, read, update, delete: if request.auth.uid == resource.data.userId;
    }
    
    match /daily_tasks/{taskId} {
       allow create, read, update, delete: if request.auth.uid == resource.data.userId;
    }

    match /interview_plans/{planId} {
       allow create, read, update, delete: if request.auth.uid == resource.data.userId;
    }
    
    match /interview_sessions/{sessionId} {
      allow create, read, update, delete: if request.auth.uid == resource.data.userId;
    }
    
    match /learning_roadmaps/{roadmapId} {
       allow create, read, update, delete: if request.auth.uid == resource.data.userId;
    }
    
    match /redeemed_rewards/{rewardId} {
       allow create, read, update, delete: if request.auth.uid == resource.data.userId;
    }

    match /interview-experiences/{experienceId} {
      allow create, read, update, delete: if request.auth.uid == resource.data.userId;
    }

    match /chat_sessions/{sessionId} {
      allow create, read, update, delete: if request.auth.uid == resource.data.userId;
    }
  }
}
