@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 91% 94%;
    --foreground: 224 71.4% 4.1%;
    --card: 206 91% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 206 91% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 207 88% 68%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 36 100% 75%;
    --accent-foreground: 30 9.1% 30.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 207 88% 68%;
    --radius: 0.5rem;
    
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 207 88% 68%;
    --sidebar-primary-foreground: 224 71.4% 4.1%;
    --sidebar-accent: 206 91% 94%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 207 88% 68%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 207 88% 68%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 36 100% 75%;
    --accent-foreground: 30 9.1% 30.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 207 88% 68%;

    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 207 88% 68%;
    --sidebar-primary-foreground: 224 71.4% 4.1%;
    --sidebar-accent: 215 27.9% 16.9%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 27.9% 16.9%;
    --sidebar-ring: 207 88% 68%;
  }

  /* Force view mode for testing */
  .force-mobile {
    width: 375px !important;
    margin: auto !important;
  }
  .force-desktop {
    width: 100% !important;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* CHAT THEMES */
  [data-chat-theme="dark"] {
    @apply bg-background;
  }
  [data-chat-theme="whatsapp"] {
    @apply bg-[#e5ddd5];
  }
   [data-chat-theme="telegram"] {
    @apply bg-[#a5c5dd];
  }
}

    